<!DOCTYPE html>

{% load static %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CBR Trading</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet"/>
    <!-- FONTAWESOME STYLES-->
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet"/>
    <!-- CUSTOM STYLES-->
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet"/>
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
</head>
<body>


<div id="wrapper">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="adjust-nav">
            <div class="navbar-header">
                <h2 style="color:#fff; padding-left: 20px; font-weight: bold;">CBR Trading</h2>
            </div>
        </div>
    </div>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a href="/signup"><i class="fa fa-table "></i>Register</a>
                </li>
                <li>
                    <a href="/login"><i class="fa fa-table "></i>Login</a>
                </li>
            </ul>
        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h4>Register to the CBR Trading</h4>
                </div>
            </div>
            <!-- /. ROW  -->
            <hr/>
            <div class="row">
                <form method="post">
                    {% csrf_token %}
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="input-group">
                            <span class="input-group-addon">Username</span>
                            <input type="text" class="form-control" placeholder="Username" name="uname" required/>
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon">Password</span>
                            <input type="password" class="form-control" placeholder="Password" name="pwd" required/>
                        </div>
                        <br/>

                        <div class="input-group">
                            <span class="input-group-addon">Full Name</span>
                            <input type="text" class="form-control" placeholder="Full Name" name="ufullname" required/>
                        </div>
                        <br/>

                        <div class="input-group">
                            <span class="input-group-addon">Email</span>
                            <input type="text" class="form-control" placeholder="Email" name="uemail" required/>
                        </div>
                        <br/>

                        <div class="input-group">
                            <span class="input-group-addon">Date of Birth</span>
                            <input type="text" class="form-control" placeholder="Date of Birth (YYYY-MM-DD)" name="udob"
                                   required/>
                        </div>
                        <br/>

                        <div class="input-group">
                            <span class="input-group-addon">NIC</span>
                            <input type="text" class="form-control" placeholder="NIC" name="unic" required/>
                        </div>
                        <br/>

                        <div class="input-group">
                            <span class="input-group-addon">Address</span>
                            <input type="text" class="form-control" placeholder="Address" name="uaddress" required/>
                        </div>
                        <br/>

                        <div class="input-group">
                            <span class="input-group-addon">Telephone</span>
                            <input type="text" class="form-control" placeholder="Telephone" name="utelephone" required/>
                        </div>
                        <br/>

                        <div class="input-group">
                            <span class="input-group-addon">Consumer</span>
                            <input type="radio" class="form-control" value="consumer" name="utype">
                            <span class="input-group-addon">Provider</span>
                            <input type="radio" class="form-control" value="provider" name="utype">
                        </div>
                        <br/>

                        <div class="input-group">
                            <input class="btn btn-default" type="submit" value="Signup"/>
                        </div>

                    </div>

                </form>
            </div>
            <!-- /. ROW  -->
            <hr>
        </div>
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<div class="footer">
    <div class="row">
        <div class="col-lg-12">
            &copy; 2022 cbr-trading.com | Design by: <a href="#" style="color:#fff;" target="_blank">Ismath Fathima</a>
        </div>
    </div>
</div>


<!-- /. WRAPPER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- CUSTOM SCRIPTS -->
<script src="{% static 'assets/js/custom.js' %}"></script>


</body>
</html>
