<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 {% if request.session.uname  %}
        {{request.session.uname}}
        {% else %}
        {% endif %}
<p>Loop through the items:</p>
<form method="post">
<table border='1'>
  <tr>
    <th>Product Id</th>
    <th>Rating</th>
    <th>location</th>
  </tr>
  {% for displaydata in displaydata %}
  <tr>
    <td> {{displaydata.0}} </td>
    <td> {{displaydata.1}} </td>
    <td> {{displaydata.2}} </td>
    <td>
        <button> <a href ="consumption">  Wait </a></button>

    </td>

    </tr>
  {% endfor %}
</table>

</form>
</body>
</html>